<!-- client section -->
<div class="container-xl">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2>Testimonials</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="img-box"><img src="https://i.pinimg.com/564x/e1/39/d1/e139d12289a6f7bbce5cbf0a0bf6a49f.jpg" alt=""></div>
                        <p class="testimonial">"Excellent service! The product arrived on time and was exactly as described. Highly recommended!"</p>
                        <p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- end client section -->
