<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <h2>R-SHOP</h2>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav m-auto ">
                <li class='nav-item m-2'>
                    <a routerLink="/home" routerLinkActive="active" class="text-decoration-none  ">Home <span class="sr-only "></span></a></li>
                <li class="nav-item  m-2">
                    <a routerLink="/Prouduct" routerLinkActive="active" class="text-decoration-none  ">Product</a>
                </li>
                <li class="nav-item  m-2">
                    <a routerLink="/why us" routerLinkActive="active" class="text-decoration-none  ">Why Us </a>
                </li>
               
                <li class="nav-item  m-2">
                    <a routerLink="/CONTACT-US" routerLinkActive="active" class="text-decoration-none  ">Contact Us</a>
                </li>
            </ul>

            <a class="nav-link m-2 " routerLinkActive="active" routerLink="/cart" class=" text-dark  focus-inset" id="cart-icon-bubble"><svg
                class="icon  text-dark NavLink" width='50px' aria-hidden="true" focusable="false"
                role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" fill="none">
                <path
                    d="m15.75 11.8h-3.16l-.77 11.6a5 5 0 0 0 4.99 5.34h7.38a5 5 0 0 0 4.99-5.33l-.78-11.61zm0 1h-2.22l-.71 10.67a4 4 0 0 0 3.99 4.27h7.38a4 4 0 0 0 4-4.27l-.72-10.67h-2.22v.63a4.75 4.75 0 1 1 -9.5 0zm8.5 0h-7.5v.63a3.75 3.75 0 1 0 7.5 0z"
                    fill="currentColor" fill-rule="evenodd"></path>
            </svg>
        </a>    
    </div>
    </div>
</nav>